#userBtn {
	border-radius: 50%;
	overflow: hidden;
}

#userBtn:focus {
	outline: 0;
}

#userBtnImg {
	height: 50px;
	width: 50px;
}

#userPannel {
	position: absolute;
	right: 20px;
	top: 85px;
	background-color: var(--primary-bgColor, 'white');
	filter: drop-shadow(1px 0px 2px var(--primary-shadow-color));
	z-index: 2;
}

#userPannel::before {
	position: absolute;
	bottom: 100%;
	right: 16px;
	content: '';
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent var(--primary-bgColor, 'white') transparent;
}

.userPannelLink {
	text-decoration: none;
	transition: 0.25s;
	color: var(--secondary-color, rgba(50, 50, 50, 0.7));
	display: block;
	font-size: medium;
}

.userPannelLink:hover {
	text-decoration: none;
	color: var(--green-color, green);
	transform: scale(1.1);
}

.userData {
	display: block;
	color: var(--primary-color, black);
}

.themeColor {
	color: var(--primary-color, black);
}

@media only screen and (max-width: 800px) {
	#userPannel {
		/* because of changing height of top bar */
		top: 72px;
	}
}
